@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100;200;300;400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Inter';
    src: url('fonts/Inter-VariableFont_slnt,wght.ttf') format('truetype');
    /* Define the range of weights supported by Inter */
    font-weight: 100 900;
    /* Define the slant range (0 is upright, -10 is typically italic) */
    font-style: oblique 0deg 10deg;
    font-display: swap;
}

:root {
    --clr-body-BG-Grey-900: hsl(0, 0%, 8%);
    --clr-card-BG-Grey-800: hsl(0, 0%, 12%);
    --clr-card-sect-Grey-700: hsl(0, 0%, 20%);

    --clr-body-white: hsl(0, 0%, 100%);

    --clr-hover-green: hsl(75, 94%, 57%);
    --clr-active-green: hsl(75, 89%, 41%);

    --font-size-body: 15px;

    --font-family-body: 'Inter', sans-serif;


    --spacing-xxs: 0.25rem;
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 1.8rem;
    --spacing-lg: 3rem;
    --spacing-xlg: 5rem;
    --spacing-xxlg: 16rem;


}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--font-family-body);
    font-size: var(--font-size-body);
    font-weight: 500;
}

h1 {
    font-size: 2rem;
    line-height: 1.3;
    font-weight: 800;
}


h2 {
    /* font-size: 1.5rem;
    line-height: 1; */

    font-size: 1.15rem;
    line-height: 1;
    font-weight: 500;
}

h3 {
    font-size: 1.2rem;
    line-height: 1.5;
}

h4 {
    font-size: 1.15rem;
    line-height: 1;
    font-weight: 500;
}

h5 {
    font-size: 1.075rem;
    line-height: 1;
}

h6 {
    font-size: 1.025rem;
    line-height: 1;
}


p {
    font-size: 1.2rem;
    line-height: 1.5;

}

a {
    width: 100%;
    height: auto;
}