body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 100vh;

    background-color: var(--clr-body-BG-Grey-900);
    color: var(--clr-body-white);
    font-family: var(--font-family-body);

    padding: var(--spacing-lg);
    margin: 0;
}


.card {
    display: flex;
    flex-direction: column;

    justify-content: space-between;
    align-items: center;

    width: 450px;
    min-width: 375px;
    height: auto;

    background-color: var(--clr-card-BG-Grey-800);
    border-radius: var(--spacing-sm);
    padding: var(--spacing-lg);

    gap: var(--spacing-md);
    overflow: hidden;

    text-align: center;

    p {
        padding: var(--spacing-xs) 0;
        opacity: 0.75;
        white-space: nowrap;
    }
}

.avatar {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    z-index: 1;
    isolation: isolate;
}

.avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;

    border: 2px solid var(--clr-card-sect-Grey-700);
}

.avatar::after {
    position: absolute;
    content: '';
    width: 120%;
    height: 120%;
    inset: 10px;

    transform: translate(-20px, -20px);

    background-image: conic-gradient(from 0deg,
            var(--clr-card-sect-Grey-700),
            var(--clr-body-BG-Grey-900),
            var(--clr-card-sect-Grey-700),
            var(--clr-body-BG-Grey-900),
            var(--clr-card-sect-Grey-700));

    border-radius: 50%;
    border: 2px solid var(--clr-card-sect-Grey-700);
    z-index: -1;
}

.bio h2 {
    color: var(--clr-active-green);
}

.link-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: auto;
    gap: var(--spacing-sm);
}

.link-group a {
    display: block;
    padding: var(--spacing-sm);
    background-color: var(--clr-card-sect-Grey-700);
    border-radius: var(--spacing-xs);

    color: inherit;
    font-weight: 500;
    font-size: 16px;

    transition: background-color 0.3s ease, color 0.3s ease;
}

.link-group a:hover {
    background-color: var(--clr-hover-green);
    color: var(--clr-body-BG-Grey-900);
}

.link-group a:active {
    background-color: var(--clr-active-green);
}

.link-group a:focus-visible {
    border: 2px solid var(--clr-active-green);
    outline: none;
    border-radius: 12px;

}

attribution {
    display: inline-block;
    color: var(--clr-body-white);
    padding: var(--spacing-md);

    opacity: 0.55;

    text-align: center;

    a {
        display: inline;
        padding: 0;
        color: inherit;
    }

    a:active {
        color: var(--clr-active-green);
    }

    a:hover {
        text-decoration: underline;
        text-decoration-color: var(--clr-active-green);
    }

    a:visited {
        color: var(--clr-active-green);
    }


}
